.cabecalho{
    background-color: #5300a0;
    color:white;
    display: flex;
    justify-content: space-around;
}
.medicina-imagem{
    width: 200px;
    position: relative;
    top: 50px;
    left: 150px;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}
.veterinaria-imagem{
    width: 25%;
}
.escola {
    background-image: linear-gradient(#5300a0,#b32fff);
    color: white;
    display: flex;
}
.escola-conteudo{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}