.cabecalho{
    background-color: #714fec    ;
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
}
.medicina-imagem{
    width: 200px;
    position: relative;
    top: 50px;
    left: 150px;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px;
    font-size: 24px;
}
.veterinaria-imagem{
    width: 25%;
}
.medicina-veterinaria {
    background-image: linear-gradient(#A68F97,#714fec);
}